/* H1 antraštės stiliai */
/* 1. */
h1.mb-4 {
    color: rgba(12, 0, 0, 0.93); /* Teksto spalva */
    font-size: 2.5rem; /* Šrifto dydis */
    text-align: center; /* Centruotas tekstas */
    margin-bottom: 2rem !important; /* Apatinis tarpas */
}

/* HTML ir body bendri stiliai */
/* 2. */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Vertikalus išdėstymas */
}

/* Fono gradientas visam puslapiui */
/* 3. */
body {
    background: #abbaab;
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
    background: linear-gradient(to right, #ffffff, #abbaab);
}

/* Fono gradientas #section-jumbotron sekcijai */
/* 4. */
#section-jumbotron {
    background: rgba(40, 226, 233, 0.13);
    background: -webkit-linear-gradient(to right, rgba(138, 203, 237, 0.15), rgba(79, 127, 34, 0.26));
    background: linear-gradient(to right, rgba(143, 187, 239, 0.11), rgba(63, 195, 106, 0.25));
}

/* Konteineris, tarp navigacinės juostos ir footer */
/* 5. */
.container-flex {
    flex: 1; /* Užima visą likusį aukštį */
}

/* Navigacijos ir footer bendri stiliai */
/* 6. */
.navbar-custom, .custom-footer-bg {
    background-color: rgba(12, 0, 0, 0.93); /* Fono spalva */
    color: white !important; /* Užrašų spalva */
}

/* Footer stiliai */
/* 7. */
footer {
    flex-shrink: 0; /* Footer visada matomas apačioje */
    width: 100%; /* Užima visą plotį */
    text-align: center; /* Centruotas tekstas */
    padding: 10px 0; /* Vertikalus padding */
}

/* Nuorodų spalva footeryje */
/* 8. */
.custom-footer-bg a {
    color: white; /* Nuorodų spalva */
    text-decoration: underline !important; /* Pabrauktos nuorodos */
}
.custom-footer-bg a:hover {
    color: #ffd700 !important; /* Spalva užvedus pelę */
}

/* Papildoma nuorodų spalva */
/* 9. */
.blue-link {
    color: blue !important;
}

/* Pagrindiniai stiliai */
/* 10. */
.container {
    max-width: 1200px; /* Maksimalus plotis */
    margin: auto; /* Centruota */
}

/* užrašo <p> stiliai */
/* 11. */
.lead {
    font-size: 1.25rem !important; /* Šrifto dydis */
    font-weight: 400; /* Šrifto svoris */
    text-align: left; /* Centruotas tekstas */
    margin-bottom: 1.5rem; /* Apatinis tarpas */
    color: #252727; /* Teksto spalva */
}

/* Formos stiliai Filtravimo langelis*/
/* 12. */
.form-inline {
    display: flex; /* Flexbox išdėstymas */
    justify-content: center; /* Centruota horizontaliai */
    margin-bottom: 2rem; /* Apatinis tarpas */
}
/* Formos stiliai */
.form-inline label {
    margin-right: 0.5rem; /* Dešinysis tarpas */
}

/* Mygtuko stiliai */
/* 13. */
.btn-primary {
    background-color: #3498db; /* Fono spalva */
    border-color: #3498db; /* Rėmelio spalva */
    transition: background-color 0.2s ease, border-color 0.2s ease; /* Perėjimo efektai */
}
/* Mygtuko stiliai */
.btn-primary:hover {
    background-color: #2980b9; /* Fono spalva užvedus pelę */
    border-color: #2980b9; /* Rėmelio spalva užvedus pelę */
}

/* Pagination stiliai  */
/* 14. */
.pagination {
    display: flex; /* Flexbox išdėstymas */
    justify-content: center; /* Centruota horizontaliai */
    margin-top: 2rem; /* Viršutinis tarpas */
}
/* Pagination stiliai KOL KAS NENNAUDOJAMAS */
.pagination li {
    margin: 0 0.5rem; /* Horizontalus tarpas */
}
/* Pagination stiliai KOL KAS NENNAUDOJAMAS */
.pagination a {
    color: #3498db; /* Nuorodų spalva */
}
/* Pagination stiliai KOL KAS NENNAUDOJAMAS */
.pagination a:hover {
    color: #2980b9; /* Nuorodų spalva užvedus pelę */
}

/* Projekto detalės puslapio stiliai  */
/* 15. */
.list-group-item a {
    text-decoration: none;
}
/*  Projekto detalės */
.list-group-item a:hover {
    text-decoration: underline;
}
/* Paveikslėlio dydis ir peršviečiamumas */
/* 16. */
.small-image {
    width: 150px;
    height: auto;
    float: right;
    margin-left: 10px; /* Šiek tiek vietos tarp vaizdo ir teksto */
    opacity: 0.5; /* Nustatome pradinį peršviečiamumą */
    transition: opacity 0.5s; /* Pereinamoji animacija */
}
.small-image:hover {
    opacity: 1; /* Pilnas neperšviečiamumas, kai užvedama pelė */
}

/* Kortelių stiliai */
/* 17. */
.card-text img {
    max-width: 100% !important; /* Užtikrina, kad vaizdai būtų ne didesni nei tėvinis konteineris */
    height: auto;
}

/* 18. */
.card-text table {
    width: 100%; /* Užtikrina, kad lentelės būtų ne didesnės nei tėvinis konteineris */
    overflow-x: auto; /* Leidžia horizontalią slinktį didelėms lentelėms */
}

/* 19 */
.card-text {
    font-size: 1rem; /* Šrifto dydis */
    color: #7f8c8d; /* Teksto spalva */
    margin-bottom: 1.5rem; /* Apatinis tarpas */
    overflow: hidden; /* Užtikrina, kad tekstas nebūtų nukirptas */
}

/* Kortelės turinys */
/* 20. */
.card-body {
    text-align: center; /* Centruotas tekstas */
}

/* 21. */
.card-title {
    font-size: 1.5rem; /* Šrifto dydis */
    margin-bottom: 1rem; /* Apatinis tarpas */
}

/* Kortelės padidinimas, kai užvedama pelė */
/* 22. */
.card {
    transition: transform 0.2s, box-shadow 0.2s; /* Perėjimai vaizdo ir šešėlio keitimui */
}
.card:hover {
    transform: scale(1.05); /* Padidinimas užvedus pelę */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Šešėlis užvedus pelę */
}

/* Kortelės vaizdo stiliai */
/* 23. */
.card-img-top {
    height: 200px; /* Fiksuotas vaizdo aukštis kortelės viršuje */
    object-fit: cover; /* Užtikrina, kad vaizdas neiškreiptų */
}

/* Linijos hr stiliai */
/* 24. */
.blue {
    border: 2px solid #0b569d;
    transition: border-color 0.3s;
    max-width: 800px; /* Nustatytas maksimalus plotis */
    margin: 0 auto; /* Centruoti hr elementą */
    margin-bottom: 30px; /* Apatinis tarpas 20px */
    /*box-shadow: 0 2px 5px rgb(225, 11, 28); !* Šešėlis aplink elementą *!*/

}
.blue:hover {
    border-color: #2980b9; /* Spalva užvedus pelę */
}
.blue-a{
    border: 1px solid rgb(54, 144, 253) ;
    transition: border-color 0.3s;
    max-width: 600px; /* maksimalus plotis */
    margin-bottom: 30px; /* Apatinis tarpas  */
    margin-top: 10px; /* Viršutinis tarpas  */

}
.blue-a:hover {
    border-color: #772303; /* Spalva užvedus pelę */
}


/* Logotipo stiliai */
/* 25. */
.logo {
    width: 60px; /* Nustatykite tinkamą logotipo plotį */
    height: auto;
    margin-left: 1px; /* Šiek tiek vietos tarp teksto ir logotipo */
    vertical-align: middle; /* Vertikali logotipo pozicija */
}
.logo-container {
    display: inline-block;
    position: relative;
}

.logo-container::before, .logo-container::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 130%;
    height: 2px; /* Linijos storis */
    background-color: #0b569d; /* Linijos spalva */
}

.logo-container::before {
    top: -5px; /* Nustato atstumą nuo logotipo viršuje */
}

.logo-container::after {
    bottom: -5px; /* Nustato atstumą nuo logotipo apačioje */
}
/* Eilutės išdėstymas bet kurioje vietoje */
/* 26. */
.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.1); /* Baltas fonas su 80% peršviečiamumu */
    padding: 20px 0;
}


.contact-container {
    background-color: rgba(230, 230, 250, 0.5);
    border-left: 5px solid #007bff;
    border-right: 5px solid #007bff; /* Pridedame dešinį kraštą */
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}
