{% extends 'base.html' %}
{% load static %}

{% block title %}
    Kontaktai | Django it!
{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h2>Kontaktai</h2>
        <hr class="blue-a">
        <div class="contact-container p-4 mt-4 rounded shadow">

            <p>Jeigu turite klausimų ar pasiūlymų, susisiekite su manimi:</p>
            <div class="d-flex flex-column">
            <p>tel.: <a href="tel:+37064641835">+370 646 41835</a></p>
            <p>el.paštas: <a href="mailto:jevgen.vasiljevas@gmail.com">jevgen.vasiljevas@gmail.com</a></p>
            </div>
        </div>

    </div>
{% endblock content %}
