/* Logotipo stiliai */
/* 25. */
.logo-container {
    display: inline-block;
    position: relative;
}

.logo-container::before, .logo-container::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 130%;
    height: 2px; /* Linijos storis */
    background-color: #0b569d; /* Linijos spalva */
}

.logo-container::before {
    top: -5px; /* Nustato atstumą nuo logotipo viršuje */
}

.logo-container::after {
    bottom: -5px; /* Nustato atstumą nuo logotipo apačioje */
}

.logo {
    width: 60px; /* Nustatykite tinkamą logotipo plotį */
    height: auto;
    margin-left: 1px; /* Šiek tiek vietos tarp teksto ir logotipo */
    vertical-align: middle; /* Vertikali logotipo pozicija */
}
