/* Atsiliepimų sekcijos stiliai */
.reviews-section {
    background-color: #f9f9f9; /* Šviesiai pilka fono spalva */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reviews-section h5 {
    border-bottom: 2px solid #3498db; /* Mėlyna apatinė linija */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.reviews-section .card {
    background-color: #fff;
}

.reviews-section form {
    margin-top: 20px;
}

/* Atskyrimo linijos stiliai */
hr.my-4 {
    border: 2px solid #3498db; /* Mėlyna linija */
    max-width: 900px; /* Maksimalus plotis */
    margin: 30px auto; /* Centruotas su tarpu viršuje ir apačioje */
}
