
/* HTML ir body bendri stiliai */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Vertikalus išdėstymas */
}

/* Fono gradientas visam puslapiui */
body {
    background: #abbaab;
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
    background: linear-gradient(to right, #ffffff, #abbaab);
}

/* Fono gradientas #section-jumbotron sekcijai */
#section-jumbotron {
    background: rgba(40, 226, 233, 0.13);
    background: -webkit-linear-gradient(to right, rgba(138, 203, 237, 0.15), rgba(79, 127, 34, 0.26));
    background: linear-gradient(to right, rgba(143, 187, 239, 0.11), rgba(63, 195, 106, 0.25));
}

/* Konteineris, kuris užims visą likusį vietą tarp navigacinės juostos ir footer */
.container-flex {
    flex: 1; /* Užima visą likusį aukštį */
}

/* Navigacijos ir footer bendri stiliai */
.navbar-custom, .custom-footer-bg {
    background-color: rgba(12, 0, 0, 0.93); /* Fono spalva */
    color: white !important; /* Užrašų spalva */
}

/* Footer stiliai */
footer {
    flex-shrink: 0; /* Footer visada matomas apačioje */
    width: 100%; /* Užima visą plotį */
    text-align: center; /* Centruotas tekstas */
    padding: 10px 0; /* Vertikalus padding */
}

/* Nuorodų spalva footeryje */
.custom-footer-bg a {
    color: white; /* Nuorodų spalva */
    text-decoration: underline !important; /* Pabrauktos nuorodos */
}

.custom-footer-bg a:hover {
    color: #ffd700 !important; /* Spalva užvedus pelę */
}

/* Papildoma nuorodų spalva KOL KAS NENNAUDOJAMAS*/
.blue-link {
    color: blue !important;
}

/* Pagrindiniai stiliai KOL KAS NENNAUDOJAMAS */
.container {
    max-width: 1200px; /* Maksimalus plotis */
    margin: auto; /* Centruota */
}

h1.mb-4 {
    color: rgba(12, 0, 0, 0.93); /* Teksto spalva */
    font-size: 2.5rem; /* Šrifto dydis */
    text-align: center; /* Centruotas tekstas */
    margin-bottom: 2rem !important; /* Apatinis tarpas */
}

.lead {
    font-size: 1.25rem !important; /* Šrifto dydis */
    font-weight: 400; /* Šrifto svoris */
    text-align: left; /* Centruotas tekstas */
    margin-bottom: 1.5rem; /* Apatinis tarpas */
    color: #252727; /* Teksto spalva */
}

/* Formos stiliai KOL KAS NENNAUDOJAMAS*/
.form-inline {
    display: flex; /* Flexbox išdėstymas */
    justify-content: center; /* Centruota horizontaliai */
    margin-bottom: 2rem; /* Apatinis tarpas */
}

/* Formos stiliai KOL KAS NENNAUDOJAMAS*/
.form-inline label {
    margin-right: 0.5rem; /* Dešinysis tarpas */
}

/* Mygtuko stiliai KOL KAS NENNAUDOJAMAS*/
.btn-primary {
    background-color: #3498db; /* Fono spalva */
    border-color: #3498db; /* Rėmelio spalva */
    transition: background-color 0.2s ease, border-color 0.2s ease; /* Perėjimo efektai */
}
/*  KOL KAS NENNAUDOJAMAS*/
.btn-primary:hover {
    background-color: #2980b9; /* Fono spalva užvedus pelę */
    border-color: #2980b9; /* Rėmelio spalva užvedus pelę */
}

/* Pagination stiliai KOL KAS NENNAUDOJAMAS */
.pagination {
    display: flex; /* Flexbox išdėstymas */
    justify-content: center; /* Centruota horizontaliai */
    margin-top: 2rem; /* Viršutinis tarpas */
}
/* Pagination stiliai KOL KAS NENNAUDOJAMAS */
.pagination li {
    margin: 0 0.5rem; /* Horizontalus tarpas */
}
/* Pagination stiliai KOL KAS NENNAUDOJAMAS */
.pagination a {
    color: #3498db; /* Nuorodų spalva */
}
/* Pagination stiliai KOL KAS NENNAUDOJAMAS */
.pagination a:hover {
    color: #2980b9; /* Nuorodų spalva užvedus pelę */
}

/* Projekto detalės puslapio stiliai KOL KAS NENNAUDOJAMAS */
.list-group-item a {
    text-decoration: none;
}
/*  KOL KAS NENNAUDOJAMAS */
.list-group-item a:hover {
    text-decoration: underline;
}

.small-image {
    width: 150px;
    height: auto;
    float: right;
    margin-left: 10px; /* Šiek tiek vietos tarp vaizdo ir teksto */
    opacity: 0.5; /* Nustatome pradinį peršviečiamumą */
    transition: opacity 0.5s; /* Pereinamoji animacija */
}

.small-image:hover {
    opacity: 1; /* Pilnas neperšviečiamumas, kai užvedama pelė */

}

.card-text img {
    max-width: 100% !important; /* Užtikrina, kad vaizdai būtų ne didesni nei tėvinis konteineris */
    height: auto;
}

.card-text table {
    width: 100%; /* Užtikrina, kad lentelės būtų ne didesnės nei tėvinis konteineris */
    overflow-x: auto; /* Leidžia horizontalią slinktį didelėms lentelėms */
}

/*card-text / card-body/ card-title/ card/ card-img-top */
.card-text {
    font-size: 1rem; /* Šrifto dydis */
    color: #7f8c8d; /* Teksto spalva */
    margin-bottom: 1.5rem; /* Apatinis tarpas */
    overflow: hidden; /* Užtikrina, kad tekstas nebūtų nukirptas */
}

/* Kortelės turinys */
.card-body {
    text-align: center; /* Centruotas tekstas */
}

.card-title {
    font-size: 1.5rem; /* Šrifto dydis */
    margin-bottom: 1rem; /* Apatinis tarpas */
}

.card {
    transition: transform 0.2s, box-shadow 0.2s; /* Perėjimai vaizdo ir šešėlio keitimui */
}

.card:hover {
    transform: scale(1.05); /* Padidinimas užvedus pelę */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Šešėlis užvedus pelę */
}

.card-img-top {
    height: 200px; /* Fiksuotas vaizdo aukštis kortelės viršuje */
    object-fit: cover; /* Užtikrina, kad vaizdas neiškreiptų */
}

.blue {
    border: 2px solid #0b569d;
    transition: border-color 0.3s;
    max-width: 800px; /* Nustatytas maksimalus plotis */
    margin: 0 auto; /* Centruoti hr elementą */
    margin-bottom: 30px; /* Apatinis tarpas 20px */
    /*box-shadow: 0 2px 5px rgb(225, 11, 28); !* Šešėlis aplink elementą *!*/

}

.blue:hover {
    border-color: #2980b9; /* Spalva užvedus pelę */
}