{% extends 'base.html' %}

{% block title %}Nustatyti naują slaptažodį{% endblock %}

{% block content %}
<div class="container">
    <h4>Nustatyti naują slaptažodį</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.non_field_errors %}
            <div class="text-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Patvirtinti</button>
    </form>
</div>
{% endblock %}
