{% load i18n %}
{% autoescape off %}
{% blocktranslate %}Jūs gavote šį laišką, nes paprašėte atstatyti slaptažodį savo paskyrai {{ site_name }}.{% endblocktranslate %}

{% translate "Prašome eiti į šį puslapį ir pasirinkti naują slaptažodį:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate 'Jūsų vartotojo vardas, jei pamiršote:' %} {{ user.get_username }}

{% translate "Ačiū, kad naudojatės mūsų svetaine!" %}

{% blocktranslate %}{{ site_name }} komanda{% endblocktranslate %}
{% endautoescape %}
