{% extends 'base.html' %}
{% load static %}

{% block title %}
    Apie | Django it!
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h2>Apie projektą</h2>
    <hr class="blue-a">
 <div class="contact-container p-4 mt-4 rounded shadow">
     <p>Minimalistinis projektas <b>"Portfolio"</b> skirtas nukreipimams į kitus mano projektus.</p>
    <p>Esu pradedantysis tinklalapių kūrėjas. Dėl pastebėjimų ar patarimų rašykite skiltyse „Atsiliepimai/Komentarai“, kurias rasite kiekvieno projekto apžvalgoje.</p>
             </div>

</div>
{% endblock content %}
