{% extends 'base.html' %}
{% load static %}

{% block title %}
    Mano Projektai | Django it!
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Interneto puslapių kūrimas naudojant Django framework'ą</h1>
<hr class="blue" >
{#<p class="lead fixed-bottom">Esu pradedantysis tinklalapių kūrėjas. Atsiliepimams, pastebėjimams ar patarimams yra skiltys kiekvieno projekto apžvalgoje.</p>#}

   <p class="lead">
        Šiame tinklalapyje bus talpinami visi mano projektai, įskaitant tuos, kurie buvo sukurti mokymosi tikslais
       <b>"CodeAcademy kursų metu"</b>.
       Nuoroda į kai kuriuos projektus GitHub'e:
<div class="d-flex">
        <a href="https://github.com/jev75?tab=repositories" target="_blank" class="logo-container">
            <img src="{% static 'images/github-logo.png' %}" alt="GitHub" class="logo">
        </a>
</div>
    </p>
    <hr class="black">

    <p class="lead">Dauguma projektų turi nuorodas į pilnai veikiančius internetinius puslapius.</p>
    <div class="mb-4">
        <form method="get" class="form-inline">
            <label for="category" class="mr-2">Filtruoti pagal kategoriją:</label>
            <select name="category" id="category" class="form-control mr-2">
                <option value="">Visos kategorijos</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if selected_category == category.id %}selected{% endif %}>{{ category.title }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Filtruoti</button>
        </form>
    </div>

    <div class="row">
        {% for project in projects %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    {% if project.image %}
                        <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description|truncatewords:11|safe }}</p>
                        <a href="{{ project.get_absolute_url }}" class="btn btn-primary">Plačiau</a>
                    </div>

                </div>

            </div>

        {% endfor %}
    </div>
    {% include 'pagination.html' %}
</div>
{% endblock content %}

{% block css %}
{% endblock css %}

{% block js %}
<script src="{% static 'js/card_effects.js' %}"></script>
{% endblock js %}
