{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?{% if selected_category %}category={{ selected_category }}&{% endif %}page=1">&laquo; pirmas</a>
                <a href="?{% if selected_category %}category={{ selected_category }}&{% endif %}page={{ page_obj.previous_page_number }}">ankstesnis</a>
            {% endif %}
            <span class="current">
                Puslapis {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?{% if selected_category %}category={{ selected_category }}&{% endif %}page={{ page_obj.next_page_number }}">kitas</a>
                <a href="?{% if selected_category %}category={{ selected_category }}&{% endif %}page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}
